body {
font-family: Oswald, Helvetica, sans-serif;
background-color: rgb(86, 84, 84);
color: white;
align-items: center;
justify-content: center;
overflow: hidden;
min-height: 50vh;
margin: 0%;
}
.Header{
    border: solid 1px white;
    border-width: 10px;
    margin-top: 100px;
}
.title{
    text-align: center;
    font-size: 30px;
}
.title1{
    text-align: center;

}
.strong{
    text-align: center;
}
.form1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#birthdate{
    height: 30px;
    margin-top: 6px;
 background-color: white;
color: purple;
}
.form2{
    display: flex;
    justify-content: center;
    font-size: 30px;  
}
.nonny {
align-items: center;
justify-content: center;
display: flex;
}
#nanana{
    background-color: #2b76e0;
    font-size: 35px;
 margin-top: 20px;
 margin-bottom: 20px;
}
.results {
    text-align: center;
    font-size: 30px;
}